.navbar {
  background-color: #09bfe7 !important;
}

span {
  font-size: small;
}

.product {
  height: 406.2px;
}

.login {
  height: 100vh;
  background-color: #eceff1;
}

.link {
  color: inherit;
  text-decoration: none !important;
  font-size: 11px;
}

@media only screen and (max-width: 769px) {
  .product {
    width: 308px;
  }
  .select-item {
    width: 300px;
  }
  .search {
    align-items: center !important;
    justify-content: center !important;
    flex: content;
  }
}
@media only screen and (min-width: 365px) {
  .product {
    width: 408px;
  }
  .select-item {
    width: 300px;
  }
}
